header {
  background-color: #175676;
  position: absolute;
  width: 100vw;
  top:0;
  z-index: 2;
  padding: 0px; 
  height: 130px;
  margin:0
}
.layout {
  margin: 0;
  padding: 0
}
nav {
  margin: 0;
  padding: 0
}



@media screen and (min-width:300px) and (max-width:500px) {
  header {
    display: flex; 
    height: 155px;
    }
}