header {
  background-color: #175676;
  position: absolute;
  width: 100vw;
  margin-bottom: 150px;
  padding-bottom: 25px;
  top:0;
  z-index: 2

}

@media screen and (max-width: 500px) {
  header {
  background-color: black;
  display: flex; 
    height: 50px;
  }
}

@media screen and (min-width:501px) and (max-width:900px) {
  header {
    background-color: #ba324f;
    display: flex; 
    height: 100px;
    }
}