.background3 {
  background-image: url('../../photos/date1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
bottom: 0;
z-index: 0;
  }

  .regcontent {
    padding-top: 150px;
    width: 250px;
  }

  .regtitle{
    color: white;
  }


  .regbtn {
    width: 250px;
    color: #175676;
    font-weight: bold;
    font-size: .9rem

  }
 
  .regform {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold
  }


  .reginput {
  display: inline-block;
  float: right;
}