.background5 {
  background-image: url('../../photos/date5.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
bottom: 0;
z-index: 0;
  }

  .createform {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 30px;
    font-weight: bold;
  }

  .form_title {
    color: white;
    text-shadow:1px 1px 2px black, 0 0 25px #377a98, 0 0 5px darkblue
  
  }
 
  #createSubmit {
    width: 433px;
    box-sizing: border-box;
    color: #175676;
    background-color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    border:0.1em solid #175676;
    border-radius: 0.12em;
    transition-duration: 0.2s;
    opacity: 0.9;
    padding:0.35em 1.2em;
    font-family:'Roboto',sans-serif;
  }

  #createSubmit:hover{
    color: #ffffff;
    background-color: #175676;
    border:0.1em solid #175676;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
  }

  @media screen and (min-width:300px) and (max-width:500px)  {
   
    .background5 {
      background-image: url('../../photos/date5.jpeg');
      background-size: 100% 100%; 
      background-repeat: repeat;
      background-position: center center;
      position: fixed;
      top: 0;
      bottom: 0;
      height: 800px;
      width: 100vw;
      z-index: 0;}

      .createform {
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 18px;
        font-weight: bold;
      }

      .form_title {
       font-size: 23px;
       margin: 50px 0px 27px 0px;
      }
      #createSubmit {
        width: 248px;
      }
  }