.editsection {
  background-image: url("../../photos/date9.jpg");
  background-size: cover;
  background-repeat: repeat;
  width: 100vw;
  height: auto;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.edittitle {
  font-size: 1.9rem;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #377a98, 0 0 5px darkblue;
}

.idea-edit {
  padding-top: 150px;
  margin-left: 40px;
  width: 1200px;
}

.idea-image {
  margin: 25px 0px;
  width: 400px;
  border-color: #175676;
  border-style: solid;
  border-width: 5px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 30px;
  color: black;
  text-shadow: 5px 5px 5px white;
  font-weight: bold;
  font-size: 19px;
}

.idea-edit-buttons {
  width: 365px;
  display: flex;
  flex-direction: column;
  color: #175676;
  font-weight: bold;
}

#delete-button {
  margin: 5px 0px 40px 0px;
  box-sizing: border-box;
  color: #175676;
  background-color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  border: 0.1em solid #175676;
  border-radius: 0.12em;
  transition-duration: 0.2s;
  opacity: 0.9;
  padding: 0.35em 1.2em;
  font-family: "Roboto", sans-serif;
}

#delete-button:hover {
  color: #ffffff;
  background-color: #175676;
  border: 0.1em solid #175676;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}

#edit-button {
  margin: 15px 0px 5px 0px;
  box-sizing: border-box;
  color: #175676;
  background-color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  border: 0.1em solid #175676;
  border-radius: 0.12em;
  transition-duration: 0.2s;
  opacity: 0.9;
  padding: 0.35em 1.2em;
  font-family: "Roboto", sans-serif;
}

#edit-button:hover {
  color: #ffffff;
  background-color: #175676;
  border: 0.1em solid #175676;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}

#edit-img-link, #input-title, #input-city, #input-category{
    width: 100%;
    margin-bottom: 5px;
  }
