
.background2 {
  background-image: url('../../photos/date3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  }

  .logincontent {
    padding-top: 150px;
   
  }
 
  .loginform {
    display: flex;
    flex-direction: column;
    width: 500px;
  
  }