
.background2 {
  background-image: url('../../photos/date3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
bottom: 0;
z-index: 0;
  }

  .logincontent {
    padding-top: 150px;
  
  }
  .logintitle {
    color: white;
  }

  .loginbtn {
    width: 249px;
    color: #175676;
    font-weight: bold;
    font-size: 0.9rem

  }
 
  .loginform {
    display: flex;
    flex-direction: column;
    width: 250px;
    color: white;
    font-weight: bold
  
  }

  .registerlink {
    margin-top: 10px;
    color:  black;
    font-weight: bold
  }