
.background2 {
  background-image: url('../../photos/date3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  }

  .logincontent {
    padding-top: 150px;
    margin-left: 30px;
  
  }
  .logintitle {
    color: white;
    text-shadow:1px 1px 2px black, 0 0 25px #377a98, 0 0 5px darkblue
  }

  #loginbtn {
    width: 249px;
    box-sizing: border-box;
    color: #175676;
    background-color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    border:0.1em solid #ffffff;
    border-radius: 0.12em;
    transition-duration: 0.2s;
    opacity: 0.9;
    padding:0.35em 1.2em;
    font-family:'Roboto',sans-serif;
  }

  #loginbtn:hover{
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
  }
  
  #registerbtn {
    width: 249px;
    border:0.1em solid #175676;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #175676;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.12em;
    transition-duration: 0.2s;
    opacity: 0.9;
    padding:0.35em 1.2em;
    font-family:'Roboto',sans-serif;
  }

  #registerbtn:hover{
    border:0.1em solid #175676;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
  }
 
  .loginform {
    display: flex;
    flex-direction: column;
    width: 250px;
    color: white;
    font-weight: bold
  }

  .registerlink {
    margin-top: 10px;
    color:  black;
    font-weight: bold
  }

  #nonuser {
    display: none
  }

  @media screen and (min-width:300px) and (max-width:500px)  {
    .background2 {
      background-image: url('../../photos/date3.jpg');
      background-size: 100% 100%; 
      background-repeat: repeat;
      position: fixed;
      top: 0;
      bottom: 0;
      height: 100vh;
      width: 100vw;
      z-index: 0;
      }

      .logintitle {
      margin-top: 60px;
      font-size: 32px;
      }

      .logincontent {
        padding-top: 150px;
        margin-left: 20px;
      }

      .loginform {
       margin-top: 30px;
      }
  }