/* deep red: #d62839 
deep magenta: #ba324f
deep teal: #175676
light teal: #4ba3c3
light blue : #cce6f4

*/

html, .background7 {
  height: 100%;
}

.background7 {
  background-image: url('../../photos/date7.jpg');
  background-size: 100% 100%; 
  background-repeat: repeat;
  background-position: center center;
  position:absolute;
  top:0;
  bottom:0;
  height: 100%;
  width:100%;
  z-index:100;
  margin: 0;
  overflow-x: scroll
  }

.summary{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.titleDiv {
  display: flex;
  flex-direction: column;

}
.dateTitle {
  color: white;
  text-shadow:1px 1px 2px black, 0 0 25px #377a98, 0 0 5px black;
  margin-top: 150px
}


.datesummary {
  display: flex;
  margin: 0px 0px 30px 50px;
  background-color: rgba(250,250,250,.90);
  border-color: #175676;
  border-style: solid;
  border-width: 1px;
  width: 800px;
}

.idea_pics {
 width: 30%;
 height:auto;
}
.datetitle {
  color: #ba324f;
  margin-left: 30px;
}
.datecat {
  margin-left: 30px;
}
.datecity {
  margin-left: 30px;
}
.dateauthor {
  margin-left: 30px;
}
.review {
  margin: 0px 50px 10px 30px;
}
#datebtn {
  margin: 10px 10px 0px 0px;
  background-color: white;
  color: #175676;
  font-weight: bold;
}

#datebtn:hover{
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
    background-color: #175676;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 1;
}

