body {
  display: flex;
  background-color: #175676;
}
.background1 {
background-image: url('../../photos/date1.jpg');
background-size: cover;
background-repeat: no-repeat;
position: absolute;
top: 0;
bottom: 0;
height: 100vh;
width: 100vw;
z-index: 0;
}

.searchdiv {
  display: block;
  padding-top: 150px;
}

@media screen and (min-width:300px) and (max-width:500px)  {
  body {
    display: flex;
    background-color: #175676;
    height: 800px;
    width: 300px;
  }
  .background1 {
    background-image: url('../../photos/date1.jpg');
    background-size: 100% 100%;
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    top:0;
  bottom:0;
  height: 100%;
  width:100%;
  
  margin: 0;
  overflow-x: scroll
    }
    
    .nav-title {
      font-size: 30px;
    }

    .write {
      font-size: 20px;
    }
}

@media screen and (min-width:501px) and (max-width:1100px)  { 
  .background1 {
    background-image: url('../../photos/date1.jpg');
    background-size: 100% 100%;
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    top:0;
    bottom:0;
    height: 100%;
    width:100%;
    margin: 0;
    overflow-x: scroll
    }
}



