/* deep red: #d62839 
deep magenta: #ba324f
deep teal: #175676
light teal: #4ba3c3
light blue : #cce6f4

*/

.nav{
  background-color: #175676;
  margin: 0px;
  padding: 0px;
  color: white;
  position: relative;
  z-index: 2;
  
}
.subnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0
}

.loguser {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px 0px 0px 940px;
}

#hidden {
  display: none;
  margin: 10px 0px 0px 940px;
  color: white;
  
}


#username1 {
  margin: 0px 10px 0px 0px;
  padding: 0
}
.nav-title {
  margin-left: 8px;
  font-family: 'Gravitas One', cursive;
  font-size: 2rem;
}

.write {
  color: white;
  margin: 10px 20px 0px 20px;
  
}


@media screen and (min-width:300px) and (max-width:500px)  {
   .nav {
     display:flex;
     flex-direction: column;
     justify-content: center;
     
   }
   .subnav {
    display: flex;
    justify-content: center;
    align-content: center;
    
  }
    .nav-title {
      margin: 5px 0px 0px 20px;
      text-align: center;
      font-size: 100px;
    }
    
    #home, #submit1, #submit2 {
      font-size: 14px;
      margin-top: 20px
    }

    .loguser {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 20px 10px 0px 50px;
    }
    #username1 {
      font-size: 14px
    }
    #logout {
      margin-right: 26px
    }
    
}
@media screen and (min-width:501px) and (max-width:1100px)  { 
  .loguser {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 7px 10px 0px 550px;
  }
  #username1 {
    font-size: 14px
  }
}

