/* deep red: #d62839 
deep magenta: #ba324f
deep teal: #175676
light teal: #4ba3c3
light blue : #cce6f4

*/

.nav{
  background-color: #175676;
  margin: 0px;
  padding: 0px;
  color: white;
  position: relative;
  z-index: 2
}
.nav-title {
  font-family: 'Gravitas One', cursive;
  font-size: 2rem;
}

.write {
  color: white;
  margin: 30px 20px 50px 20px;
  
}

@media screen and (max-width: 500px) {
  .nav {
  background-color: black
  }

  .nav-title {
    font-size: 15px;
  }

  .write {
    font-size: 10px;
  }
}
@media screen and (min-width:501px) and (max-width:900px)  {
  .nav {
    background-color: #ba324f;

    }
    .nav-title {
      font-size: 30px;
    }

    .write {
      font-size: 20px;
    }
}

